*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img1{
    mix-blend-mode: multiply;
}
.my_nav{
    margin: 0px 7px;
}
.ans{
    line-height: 14px;
    padding: 3px 3px;
    margin: 1px;
    float: left;
    text-align: center;
    border-radius: 50%;
    color: #aea8a8;
    background: #fff;
    border: 1px solid #aea8a8;
    font-size: 13px;
    font-weight: 700;
    width: 22px;
    height: 22px;
}
.ans_option{
    font-size: 18px;
    pointer-events: none;
}
.correct{
    color: green;
    border: 1px solid green;
}
.incorrect{
    color: red;
    border: 1px solid red;
}
.local-navbar {
    /* background-color: #191E38; */
    border-radius: 0 .25rem .25rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    position: absolute;
    left: -475px;
    transition: all .24s ease-in;
    width: 475px;
    font-size: 15px;
    position: absolute;
    /* overflow-y: scroll; */
    z-index: 99;
    top: 0;
    height: 100vh;
  }

  .show {
    left: 0;
  }

  .h6 {
    text-decoration: none;
    color: black;
  }

  .h6:hover {
    color: gray;
    text-decoration: none;
  }
  .statusBox{
    border-radius: 40px;
    padding: 10px;
  }
  .new-class{
    color: blue;
}
.slideLink{
    color: black;
}
.statusBox{
    border-radius: 40px;
    padding: 1px 5px;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 12px;
    font-weight: bold;
  }
    .unattempted{
        color: orange;
        font-weight: normal;
        border: 1px solid orange;
  }
  seq:before {
    content: attr(no);
}
.ans_option{
    font-size: 15px;
}
.explanation{
    font-size: 15px;
}
.question{
    font-weight: 500;
}